<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="inc/layout :: head"></head>
<body>
<div th:replace="inc/layout :: header"/>
<div class="container">
    <div class="row">
        <div class="col-sm-4">home content</div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
</div>
<div th:replace="inc/layout :: footer"/>
<div th:replace="inc/layout :: scripts"/>
</body>
</html>